<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 <h1>

    Welcome to the homepage
 </h1>
    

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia porro quo quis fugiat pariatur eum numquam, placeat corrupti aliquam magni consequatur libero nostrum, inventore molestiae quas tempora error repellendus cum.</p>
Document
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero architecto optio quidem maxime tempora soluta modi iusto illo perspiciatis velit, a eum molestias autem ipsam laudantium exercitationem perferendis mollitia quibusdam.</p>

</body>
</html>